@import 'variables.scss';
@import 'mixsins.scss';

.menu__icon {
  display: none;
}

._hover {
  .menu__sub-list {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__arrow {
    transform: rotate(-180deg);
  }
  .menu__arrow,
  .menu__link {
    color: $orangeColor;
  }
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  &__wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }

  &__body {
    display: flex;
    align-items: center;
    padding: 5px 0;
    min-height: 125px;
    position: relative;
    @media (max-width: $md2) {
      min-height: 80px;
    }
    @media (max-width: $md3) {
      min-height: 50px;
    }
  }

  &__main {
    display: flex;
    flex: 0 0 494px/1240px * 100%;
    align-items: center;
    @media (max-width: $md2) {
      flex: 1 1 auto;
    }
  }

  &__logo {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px / 24px * 100%;
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 5;
  }

  &__search {
    @include adaptive-value('padding-right', 32, 15, 1);
    @media (min-width: $md2) {
      flex: 1 1 auto;
    }
  }
}

.search-form {
  max-width: 473px;

  &_active {
    .search-form__item {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
    .search-form__icon {
      color: $orangeColor;
    }
  }

  &__icon {
    position: relative;
    z-index: 5;
    font-size: 22px;
    color: #262f56;
    @media (min-width: $md2) {
      display: none;
    }
  }

  &__item {
    background-color: #fff;
    display: flex;
    align-items: center;
    border: 1px solid black;
    @media (max-width: $md2) {
      box-shadow: 0 0 5px rgb(212, 209, 205, 0.3);
      position: absolute;
      width: 100%;
      left: 0;
      top: -100%;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
    }
  }

  &__btn {
    flex: 0 0 45px;
    height: 45px;
    font-size: 15px;
    color: #333333;
  }

  &__input {
    font-size: 14px;
    color: $darkGrayColor;
    width: 100%;
    padding: 10px;
    border: none;
  }
}

.menu {
  flex: 0 1 420px;

  &__body {
    @media (max-width: $md3) {
      position: fixed;
      width: 95%;
      height: 100%;
      overflow: auto;
      top: 0;
      left: 0;
      background-color: #fcf8f3;
      transition: left 0.3 ease 0s;
      padding: 70px 15px 30px 15px;
    }
  }

  &__list {
    @media (min-width: $md3) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 3px;
    padding: 5px 0px;
    position: relative;
    flex-wrap: wrap;

    @media (any-hover: hover) {
      &:hover {
        .menu__sub-list {
          transform: translate(0px, 0px);
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
        .menu__arrow {
          transform: rotate(-180deg);
        }
        .menu__arrow,
        .menu__link {
          color: $orangeColor;
        }
      }
    }
  }

  &__link {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3a3a3a;
    text-decoration: none;
    transition: color 0.3s ease 0s;
    @media (max-width: $md3) {
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__arrow {
    margin-left: 3px;
    transition: all 0.3s ease 0s;
    font-size: 8px;
    @media (max-width: $md3) {
      font-size: 14px;
    }
  }

  &__sub-list {
    position: relative;
    background-color: $orangeColor;
    padding: 15px;
    flex: 1 1 100%;
    @media (min-width: $md3) {
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      transform: translate((0px, 10px));
      min-width: 200px;
      position: absolute;
      left: 0;
      pointer-events: none;
      top: 100%;
      z-index: 5;
    }
  }

  &__sub-item {
    &:not(:last-child) {
      margin: 0px 0px 5px 0px;
    }
  }

  &__sub-link {
    font-family: $fontFamily;
    color: #fff;
    line-height: 120%;
  }
}

.actions-header {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  @include adaptive-value('gap', 32, 15, 1);
  &__item {
    &-favorites {
      text-decoration: none;
      color: #262f56;
      font-size: 24px;
      transition: color 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $orangeColor;
        }
      }
    }

    &-user {
      overflow: hidden;
      border-radius: 50%;
      @include adaptive-value('width', 40, 30, 1);
      @include adaptive-value('height', 40, 30, 1);
      img {
        @include adaptive-value('width', 40, 30, 1);
        @include adaptive-value('height', 40, 30, 1);
      }
    }
  }
}

.cart-header {
  &__icon {
    color: #262f56;
    font-size: 24px;
    transition: color 0.3s ease 0s;
    position: relative;
    display: block;
    text-decoration: none;
    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }
  }
  span {
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background-color: $orangeColor;
    color: #fff;
    font-size: 12px;
  }
  &__body {
  }
  &__list {
  }
}
