@use 'reset';
@use 'icons';
@use 'fonts';
@use 'header';
@use 'footer';
@use 'slider';
@use 'advantges';
@use 'products';
@use 'rooms';
@use 'tips';
@use 'furniture';
@import 'variables';

body {
  background-color: hsl(33, 60%, 94%);
  font-family: $fontFamily;
}

main {
  margin-bottom: 200px;
}

button {
  background-color: #fff;
  outline: none;
  border: none;
}

.container {
  max-width: $maxWidthContainer + px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

._ibg {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease 0s;
  &_white {
    text-decoration: none;
    color: $orangeColor;
    background-color: hsl(0, 0%, 100%);
    @media (any-hover: hover) {
      &:hover {
        color: hsl(0, 0%, 100%);
        background-color: $orangeColor;
      }
    }
  }
}

.slider-arrows {
  display: grid;
  grid-template-columns: (repeat(2, 48px));
  column-gap: 8px;
}
.slider-arrow {
  pointer-events: auto;
  height: 48px;
  border-radius: 50%;
  background-color: hsla(17, 72%, 65%, 0.534);
  color: $orangeColor;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  @media (max-width: $md5) {
    display: none;
  }

  // .slider-arrow_prev

  &_prev {
    transform: rotate(90deg);
  }

  // .slider-arrow_next

  &_next {
    transform: rotate(-90deg);
  }
  @media (any-hover: hover) {
    &:hover {
      color: hsl(0, 0%, 100%);
      background-color: $orangeColor;
    }
  }
  &_white {
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
    background-color: hsl(0, 0%, 100%);
    @media (any-hover: hover) {
      &:hover {
        color: hsl(0, 0%, 100%);
        background-color: $orangeColor;
      }
    }
  }
}

._flyimg._ibg {
  opacity: 1;
  position: fixed;
  z-index: 100;
  transition: all 1s ease 0s;
}
