@import 'variables.scss';
@import 'mixsins.scss';

.page {
  // .page__products

  &__products {
  }
}
.products {
  @include adaptive-value('padding-bottom', 44, 30, 1);
  // .products__container
  &__container {
  }

  // .products__title

  &__title {
    @include adaptive-value('font-size', 40, 24, 1);
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    margin-bottom: 32px/40px * 1em;
  }

  // .products__items

  &__items {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  }

  // .products__item

  &__item {
  }

  &__footer {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
  }

  &__more {
    border: 1px solid $orangeColor;
    min-width: 245px;
    min-height: 45px;
  }
}

.item-product {
  background-color: hsl(220, 16%, 96%);
  display: flex;
  flex-direction: column;
  position: relative;

  @media (any-hover: hover) {
    &:hover {
      .item-product__actions {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  // .item-product__label

  &__labels {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    @include adaptive-value('right', 24, 10, 1);
    @include adaptive-value('top', 24, 10, 1);
  }

  &__label {
    flex: 0 0 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    // .item-product__label_sale

    &_sale {
      background-color: #e97171;
    }
    &_new {
      background-color: hsl(171, 62%, 47%);
    }
  }

  // .item-product__image

  &__image {
    padding-bottom: 301px/285px * 100%;
  }

  // .item-product__body

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 16px 16px 30px 16px;
  }

  // .item-product__content

  &__content {
    flex: 1 1 auto;
  }

  // .item-product__title

  &__title {
    @include adaptive-value('font-size', 24, 20, 1);
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 8px/24px * 1em;
  }

  // .item-product__text

  &__text {
    color: $darkGrayColor;
    line-height: 150%;
    margin-bottom: 8px/24px * 1em;
  }

  // .item-product__prices

  &__prices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 150%;
  }

  // .item-product__price

  &__price {
    @include adaptive-value('font-size', 20, 16, 1);
    font-weight: 600;
    // .item-product__price_old

    &_old {
      @include adaptive-value('font-size', 16, 14, 1);
      font-weight: normal;
      margin-left: 16px;
      color: #b0b0b0;
      text-decoration: line-through;
    }
  }

  // .item-product__actions

  &__actions {
    @media (any-hover: none) {
      padding-top: 15px;
    }
    @media (any-hover: hover) {
      transition: all 0.3s ease 0s;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(58, 58, 58, 0.74);
      z-index: 3;
    }
  }
}
.actions-product {
  // .actions-product__body

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // .actions-product__button

  &__button {
    flex: 1 1 100%;
    min-height: 48px;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  // .actions-product__link

  &__link {
    display: flex;
    align-items: center;
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease 0s;
    &::before {
      margin-right: 10px;
      font-size: 16px;
    }
    @media (any-hover: hover) {
      color: hsl(0, 0%, 100%);
      &:hover {
        color: $orangeColor;
      }
    }
  }
}
