$fontFamily: 'Gilroy';
$fontSize: 16px;

$mainColor: #3a3a3a;
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGrayColor: #616161;

$maxWidth: 1440px;
$maxWidthContainer: 1270px;

$md1: $maxWidthContainer + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
